/*
*解决移动端 1px 边框问题的几种方法
*/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 10px auto;
}

/*
*伪类 + transform
*原理是在 li 元素后面添加一个伪类做border
*并将 transform 的 scale 缩小一半（当 devicePixelRatio = 2 时缩小一半，devicePixelRatio = 3 时缩小 0.33333）
*将该伪类设置为绝对定位
*/
.list1 {
    list-style: none;
}

.list1 .list-item {
    position: relative;
    border: none;
    padding-bottom: 2px;
    margin-top: 10px;
}

.list1 .list-item:after {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #666;
    width: 200%;
    height: 1px;
    transform: scale(.5);
    transform-origin: 0 0;
    content: '';
}

/*
* 圆角边框和四个边框问题
*/
.list2,
.list3 {
    list-style: none;
    width: 100%;
    margin-top: 20px;
}

.list2 .list-item,
.list3 .list-item {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.list2 .list-item {
    border: 1px solid #666;
}

.list3 .list-item {
    position: relative;
}

.list3 .list-item:after {
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 10px;
    left: 0;
    top: 0;
    content: '';
    border: 1px solid #666;
    transform: scale(.5);
    transform-origin: left top;
}

/*
*媒体查询利用像素比缩放
*不过这里 Chrome 存在一个 bug，0.5px 被四舍五入成了 1px，看起来很粗。。。
*需要对该代码进行修改
*/
.bottom {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border: 1px solid #666;
    text-align: center;
    padding: 3px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .bottom {
        border: .5px solid #666;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .bottom {
        border: .333333px solid #666;
    }
}

/*
*媒体查询 + transform
*/
.bottom2 {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #666;
    text-align: center;
    padding: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0){
    .bottom2 {
        -webkit-transform: scaleY(.5);
        -moz-transform: scaleY(.5);
        -ms-transform: scaleY(.5);
        -o-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.0){
    .bottom2 {
        -webkit-transform: scaleY(.33333);
        -moz-transform: scaleY(.33333);
        -ms-transform: scaleY(.33333);
        -o-transform: scaleY(.33333);
        transform: scaleY(.33333);
    }
}
